.detail-info{
    border-right: 1px dotted rgba(0, 0, 0, 0.54);
    border-left: 1px dotted rgba(0, 0, 0, 0.54);
    max-height: 50%;
}

.video{
    width: 100% !important;
    height: 100% !important;
}